<h1 class="title is-1">FAQ on the Wiki Loves Monuments Italy app</h1>

<div class="container block-margin">
<h2 class="title is-4">What is the app "WLM Italia" for?
</h2>
The app "WLM Italia" is a mean to facilitate the participation in "Wiki Loves Monuments Italia" contest as well as in associated local contests.

</div>

<div class="container block-margin">
<h2 class="title is-4">What can I do with the app "WLM Italia"?
</h2>
The app "WLM Italia" allows to:
<div class="content">
<ul>
<li> identify the location of monuments (artistic, cultural, natural) whose photos can participate in the contest
learn, through Reasonator, Wikidata and possibly Wikipedia, additional information about the monument</li>
<li>set the route, through OpenStreetMap navigator, to reach it (on foot, by bike or by car)</li>
<li>upload one or more photo of the monument choosing among the ones available in the memory of your smart device.</li>
</ul>
</div>

</div>

<div class="container block-margin">
<h2 class="title is-4">Do I need to register to use the app "WLM Italia"?
</h2>
Search and informative features do not require any registration; on the other hand, to upload photos, it si required to have your own account for Wikimedia Commons site.
</div>

<div class="container block-margin">
<h2 class="title is-4">How can I get my own account for Wikimedia Commons site?
</h2>
If you already have an account for any Wikimedia Foundation sites (Wikipedia, Wikidata, etc....), you can use it, provided it is enabled for <%= link_to "unified login", "https://meta.wikimedia.org/wiki/Help:Unified_login" %> (note: all accounts created after 2015 are automatically enabled); otherwise if you miss such an account, you can create it in the <%= link_to "Wikimedia registration page", "https://meta.wikimedia.org/w/index.php?title=Special:CreateAccount" %> following the instructions there.
</div>

<div class="container block-margin">
<h2 class="title is-4">How can I enable my account to upload photos through the app "WLM Italia"?
</h2>
In "Settings -> Manage upload settings" tap the button "Login to Wikimedia Commons" and login to Wikimedia Commons with the account that you wish to enable for uploads and afterwards confirm allowance to let the account to be used for uploading from the app.
</div>

<div class="container block-margin">
<h2 class="title is-4">How can I check whether my account is allowed to upload photo through the app "WLM Italia"?
</h2>
In "Settings -> Manage upload settings" the platform for which upload is enabled and which is the account.
</div>

<div class="container block-margin">
<h2 class="title is-4">How can I change the account allowed to upload photos through the app "WLM Italia"?
</h2>
First in "Settings -> Manage upload settings"  tap the button "Logout", just after platform and account information. Afterwards go back to  "Settings -> Manage upload settings"  and repeat the steps for enabling the account with the new account
</div>

<div class="container block-margin">
<h2 class="title is-4">How can I find a monument?
</h2>
There are two ways:
<div class="content">
<ol>
<li>through the map window, tapping first the marker of the monument and then the name appeared above the marker, you get the summary page of the monument</li>
<li>through the search window where you can either:
<ul>
<li>search the monument by its name, tapping the name in the list the summary page of the monument</li>
<li>search the location of the monument, tapping the location name in the list you get the map window centred on the location and with markers of monuments within 30 km radius.</li>
</ul>
</ol>
</div>
</div>

<h2 class="title is-4">Monuments on the map are represented by marker having different shapes and colours. Which is the meaning?
</h2>
<div class="content">
<ul>
<li><%= image_tag "Info blue.png", width: "50px" %> stands for a monument with at least one photo already uploaded by someone; this does not prevent you to uploading further photos</li>
<li><%= image_tag "tree blue.png", width: "50px" %> stands for an Italian veteran tree with at least one photo already uploaded by someone; this does not prevent you to uploading further photos</li>
<li><%= image_tag "Info red.png", width: "50px" %> stands for a monument without any known uploaded photo; be the first uploading one!</li>
<li><%= image_tag "tree red.png", width: "50px" %> stands for an Italian veteran tree without any known uploaded photo; be the first uploading one!</li>
<li><%= image_tag "Info grey.png", width: "50px" %> stands for a monument whose authorization for participation in the contest has expired. It won't be possible to upload photos of the monuments until the owner or the legal custodian has renewed the authorization.</li>
</div>

<div class="container block-margin">
<h2 class="title is-4">The area I'm interested in is without markers. How is possible?
</h2>
When app starts, the map is presenting markers in area of 30 km radius from the point where the device is located. To load markers in a different area, tap the button <%= image_tag "refresh.png", width: "30px" %> after having centred the map on the area you are interested in: markers within 30 km radius are uploaded.
</div>

<div class="container block-margin">
<h2 class="title is-4">Despite having centred the map where I'm interested in, I can't find the monument I'm looking for and even it does not appear in the list when searching by name. How is it possibile?
</h2>
To have a monument participating in Wiki Loves Monuments Italia it's required that its owner or its legal custodian authorizes the participation. If you know, or if you are, the owner or the legal custodian and you wish the monument participating in the contest, please refer to instruction available in <%= link_to "this page", "https://www.wikimedia.it/wiki-loves-monuments/istituzioni/" %> or contact Wikimedia Italia at contatti@wikilovesmonuments.it

</div>

<div class="container block-margin">
<h2 class="title is-4">How can I upload a photo of a monument?</h2>
From the summary page of the document, tapping the button "Upload you photos" you get the list of photos present on your device. Choose the photo you are interested in with a tap and you get the upload page where you can possibly (but you are not obliged to)  modify the suggested name (automatically created concatenating location name, monument name and a timestamp to grant the uniqueness of the name), the suggested description and the creation date (retrieved from efix data of the photo when available). With the button "Confirm and upload" you start the uploading process: a message will confirm that photo is queued for uploading in Wikimedia Commons. In the period between 1st and 30th September, it will be automatically inserted in the appropriate contest categories.

</div>

<div class="container block-margin">
<h2 class="title is-4">Can I upload a photo of a monument outside of the contest period?</h2>
Yes, you can but it will not participate in the contest.

</div>

<div class="container block-margin">
<h2 class="title is-4">How can I upload more photos of the same monument?
</h2>
Following the same steps of the single upload, but not fast tapping a single image, but rather with a prolonged tapping on the first image, until selecting it, and then on all other images that you wish to upload for that monument. When you are done with photo selection, tapping the button "Open" all selected photos are transferred to the upload page. The button "Confirm and upload" will upload all of them.

</div>

<div class="container block-margin">
<h2 class="title is-4">How can I check the successful upload of the photos previously queued on Wikimedia Commons server?
</h2>
After a short period, you can go to "Settings>Uploaded photos list" and you find the list of the uploaded photos that you can sort by name or by upload sequence. If you see the photo and its name, it means that upload has successfully completed; if you see the message "Photo still uploading...", it means that you need to wait some more minutes (in the peak period of the contest, the upload may require up to 15 minutes, even if usually is much faster).

</div>

<div class="container block-margin">
<h2 class="title is-4">How can I remove a photo after I uploaded it?
</h2>
Uploading is an operation that can not be reverted through the app. Moreover photos uploaded in Wikimedia Commons can only be removed for valid reasons. If you feel to be in such a situation, you need to contact Wikimedia Commons administrator through the removal process of the site. Be aware: Wikimedia Italia has neither role nor influence on decisions of Wikimedia Commons administrators.
</div>

<div class="container block-margin">
<h2 class="title is-4">In the summary page of the monument I'm interested in, there is no button for uploading. Why?
</h2>
For some monuments, the owner or the legal custodian, gave authorization for participating in the contest only in specific years. Such monuments are shown through a grey marker and have the following message in the summary page: "The authorization for this monument has expired".

</div>

<div class="container block-margin">
<h2 class="title is-4">I tried to upload a photo but the outcome is an error for duplicate name. What does it mean?
</h2>
Wikimedia Commons does not accept two photos with the same name. This error means that someone else already uploaded before you a photo with the name that you intended to use. you can repeat the upload procedure using a different name: our suggestion is to keep the name generated automatically that hardly ever is at risk of conflicts.
</div>

<div class="container block-margin">
<h2 class="title is-4">I tried to upload a photo with the name automatically generated but I got a duplicate name error. How is possible?
</h2>
Due a very rare chance, someone else was uploading a photo of the same monument at the same time you did. It's utmost rare to happen but it's not impossible. Just repeat the upload: should it happen again, please not that it is the same chance of winning national lottery (which can be more appealing) or to be hit by a falling meteor (which is definitely more painful).

</div>

<div class="container block-margin">
<h2 class="title is-4">I uploaed the photo of a monument with red marker but it did not turn to blue. Why?
</h2>
The database for map generation is updated about every one hour. If you have recently uploaded the photo in Wikimedia Commons, then the change in the marker colour occurs with next refresh of the database for map generation.

</div>

<div class="container block-margin">
<h2 class="title is-4">When I look at photos that I uploaded, I can't see the oldest ones. Why?
</h2>
From the app it is possible to see only photos uploaded after the latest login with the account in use; anyway, don't worry your previously uploaded photos are in Commons and are still valid for the contest. If you wish, you can check at any time the full list of your uploads in Commons using the button "All your photos on Commons".
</div>

<div class="container block-margin">
<h2 class="title is-4">Should I uplaod all my photos from the same device or only through the app?
</h2>
No, you can upload photos form different devices and you can use the same account for all of them: you just need to repeat the login operation in the app of each device. Moreover you can upload photos from your PC using  <%= link_to "the contest website", "https://www.wikimedia.it/wiki-loves-monuments/elenco-monumenti/"%>.
</div>
