
<h1 class="title is-1">FAQ sull'app di Wiki Loves Monuments Italia</h1>

<div class="container block-margin">
<h2 class="title is-4">A cosa serve la app "WLM Italia"?</h2>
La app "WLM Italia" è uno strumento per facilitare la partecipazione al concorso "Wiki Loves Monuments Italia" e ai concorsi locali ad esso associati.
</div>

<div class="container block-margin">
<h2 class="title is-4">Cosa posso fare con la app "WLM Italia"?</h2>
    La app "WLM Italia" permette di:
        <div class="content">
        <ul>
            <li>individuare la posizione dei monumenti (artistici, culturali e naturali) le cui foto possono partecipare al concorso</li>
            <li>conoscere, attraverso Reasonator, Wikidata ed eventualmente Wikipedia, maggiori informazioni relative al monumento</li>
            <li>impostare, attraverso il navigatore di Open Street Map, il percorso per raggiungerlo (a piedi, in bici o in auto)</li>
            <li>caricare una o più foto del monumento scegliendole tra quelle disponibili nella memoria del proprio dispositivo smart</li>
        </ul>
    </div>
</div>

<div class="container block-margin">
    <h2 class="title is-4">Serve registarsi per utilizzare la app "WLM Italia"?</h2>
    Per le funzioni di ricerca e informativa non è necessario registrarsi; tuttavia per il caricamento delle foto è necessario avere una propria utenza per il sito Wikimedia Commons.
</div>

<div class="container block-margin">
<h2 class="title is-4">Come posso ottenere l'utenza per il sito Wikimedia Commons?</h2>
Se hai già un'utenza per uno dei siti della Wikimedia Foundation (Wikipedia, Wikidata, etc....) puoi usare quella purché sia abilitata al <%= link_to "login unificato", "https://meta.wikimedia.org/wiki/Help:Unified_login/it"%> (n.d.r.: tutte le utenze create successivamente al 2015 lo sono in automatico); se invece non hai un'utenza, per crearla vai alla <%= link_to "pagina di registrazione di Wikimedia", "https://meta.wikimedia.org/w/index.php?title=Special:CreateAccount&uselang=it"%> e segui le istruzioni.
</div>

<div class="container block-margin">
    <h2 class="title is-4">Come posso abilitare la mia utenza per caricare le foto attraverso la app "WLM Italia"?</h2>
    In "Impostazioni -> Gestioni impostazioni upload" usa il bottone "Accedi a Wikimedia Commons" ed esegui il login a Wikimedia Commons con l'utenza che vuoi abilitare al caricamento e quindi conferma il consenso affinché la tua utenza sia utilizzata dalla app per i caricamenti.
</div>

<div class="container block-margin">
    <h2 class="title is-4">Come posso verificare l'utenza abilitata a caricare le foto attraverso la app "WLM Italia"?</h2>
    In "Impostazioni -> Gestioni impostazioni upload" viene indicata la piattaforma per cui è abilitato il caricamento e quale è l'utenza.
</div>

<div class="container block-margin">
    <h2 class="title is-4">Come posso modificare l'utenza abilitata a caricare le foto attraverso la app "WLM Italia"?</h2>
    Dapprima in "Impostazioni -> Gestioni impostazioni upload" utilizza il bottone "Logout" presente dopo le informazioni sulla piattaforma e l'utenza in uso. Quindi rientra in Impostazioni -> Gestioni impostazioni upload e ripeti la procedura per associare la nuova utenza alla app.
</div>

<div class="container block-margin">
<h2 class="title is-4">Come individuo un monumento?</h2>
Vi sono due modalità:
<div class="content">
    <ol>
        <li>attraverso la mappa toccando dapprima il segnapunto corrispondente al monumento e poi il nome che appare in corrispondenza del segnapunto medesimo si giunge alla scheda di dettaglio</li>
        <li>attraverso la finestra di ricerca dove è possibile alternativamente:
            <ul>
                <li>ricercare il monumento tramite il nome dello stesso, toccando il nome in elenco si passa alla scheda di dettaglio</li>
                <li>ricercare la località del monumento, toccando il nome della località si passa alla modalità mappa centrata sulla località stessa e con i segnapunto dei monumenti in 30 kilometri di raggio.</li>
            </ul>
        </li>
</div>

</div>

<div class="container block-margin">
<h2 class="title is-4">I monumenti sulla mappa sono indicati da segnapunto di forma e colori diversi. Che significato hanno?</h2>
<div class="content">
    <ol>
        <li><%= image_tag "Info blue.png", width: "50px" %> rappresenta un monumento per cui è stata caricata almeno una fotografia; ciò non impedisce che tu possa caricarne delle altre</li>
        <li><%= image_tag "tree blue.png", width: "50px" %> rappresenta un albero monumentale d'Italia per cui è stata caricata almeno una fotografia; ciò non impedisce che tu possa caricarne delle altre</li>
        <li><%= image_tag "Info red.png", width: "50px" %>  rappresenta un monumento per cui non risulta che sia mai stata caricata una foto. Fallo tu per primo!</li>
        <li><%= image_tag "tree red.png", width: "50px" %>  rappresenta un albero monumentale d'Italia per cui non risulta che sia mai stata caricata una foto. Fallo tu per primo!</li>
        <li><%= image_tag "Info grey.png", width: "50px" %>  rappresenta un monumento per cui è scaduta l'autorizzazione per la partecipazione al concorso. Finché il proprietario o il curatore legale non rinnoveranno l'autorizzazione non sarà possibile caricare foto del monumento.</li>
    </ol>
</div>
</div>

<div class="container block-margin">
<h2 class="title is-4">L'area di mio interesse sulla mappa è priva di segnaposti. Come mai?
</h2>
All'avvio la mappa viene caricata con i segnaposti nell'area di 30 kilometri di raggio dal punto in cui il dispositivo risulta localizzato. Per caricare i segnaposti di un area diversa, utilizzare il tasto <%= image_tag "refresh.png", width: "30px" %> dopo aver centrato la mappa sul luogo di interesse: vengono caricati i segnaposti nel raggio di 30 kilometri dal centro della mappa.
</div>

<div class="container block-margin">
<h2 class="title is-4">Pur avendo centrato la mappa dove mi interessa, non trovo il monumeto che desidero cercare e neppure appare cercandolo per nome. Come mai?
</h2>
Affinché un monumento possa partecipare a Wiki Loves Monuments Italia è necessario che il proprietario o il custode legale ne autorizzi la partecipazione. Se conosci, o se sei, il proprietario o il custode legale e vuoi far partecipare il monumento al concorso, fai riferimento alle istruzioni in <%= link_to "questa pagina", "https://www.wikimedia.it/wiki-loves-monuments/istituzioni/" %> oppure contatta Wikimedia Italia a contatti@wikilovesmonuments.it
</div>

<div class="container block-margin">
<h2 class="title is-4">Come carico una foto del monumento?
</h2>
Dalla pagina della scheda di dettaglio del monumento, utilizzando il bottone "Carica le tue foto" ti viene presentato l'elenco delle foto presenti sul tuo dispositivo. Scegli la foto di interesse con un tocco e passi alla pagina di caricamento dove puoi eventualmente ma non necessariamente modificare il nome proposto (automaticamente composto dal nome del comune dal nome del monumento è da un timbro temporale che garantisce l'unicità del nome), la descrizione e la data di creazione (ottenuta dai dati efix dell'immagine se disponibili). Con il bottone "Conferma e carica" avvii il processo di caricamento: un messaggio ti confermerà che la foto è stata accodata per il caricamento in Wikimedia Commons dove sarà automaticamente inserita nelle categorie abilitate per il concorso.
</div>

<div class="container block-margin">
<h2 class="title is-4">Come posso caricare più foto dello stesso monumento?
</h2>
Seguendo gli stessi passi del caricamento singolo, ma non facendo un rapido tocco su una singola foto ma un tocco prolungato sulla prima foto fino a selezionarla e quindi su tutte le altre foto che vuoi caricare di quel monumento. Quando hai completato la selezione con il tasto "Apri" tutte le foto selezionate sono trasferite alla pagina di caricamento. Il bottone "Conferma e carica", le caricherà tutte.

</div>

<div class="container block-margin">
<h2 class="title is-4">Come posso verificare l'avvenuto caricamento delle foto che ho accodato sul server Wikimedia Commons?
</h2>
Dopo un breve periodo puoi andare in "impostazioni->Foto caricate" e troverai l'elenco delle foto caricate che puoi ordinare per nome o per sequenza di caricamento. Se vedi la foto e il suo nome significa che la foto è stata caricata; se vedi la scritta "immagine ancora in caricamento" vuol dire che devi attendere ancora qualche minuto (nei momenti di punta del concorso può essere necessario anche fino a 15 minuti anche se in genere è molto più veloce).

</div>

<div class="container block-margin">
<h2 class="title is-4">Come posso rimuovere una foto dopo averla caricata?
</h2>
Il caricamento non è un'operazione reversibile attraverso la app. Più in generale le foto caricate in Commons non posso essere rimosse se non per validi motivi. Se ritenete di essere in questa condizione dovete rivolgervi agli amministratori del sito Wikimedia Commons attraverso le procedure di rimozione. Attenzione: Wikimedia Italia non ha titolo e non può influire sulle decisioni degli amministratori di Wikimedia Commons.

</div>

<div class="container block-margin">
<h2 class="title is-4">Nella scheda del monumento che mi interessa non è presente il bottone di caricamento. Come mai?
</h2>
Ai sensi del regolamento del concorso il caricamento è possibile solo dal 1º al 30 settembre di ogni anno, sebbene si possa caricare qualsiasi foto inedita anche scattata antecedentemente a tale periodo.

</div>

<div class="container block-margin">
<h2 class="title is-4">È settembre ma comunque non c'è il bottone di caricamento. Come mai?
</h2>
Per alcuni monumenti il proprietario o il custode legale hanno dato il permesso di partecipazione al concorso solo per anni specifici. Questi monumenti sono rappresentati da un segnaposto grigio e riportano la seguente indicazione nella scheda: "L'autorizzazione per questo monumento è scaduta".
</div>

<div class="container block-margin">
<h2 class="title is-4">Ho provato a caricare la foto ma l'esito è stato errore per nome duplicato. Come mai?
</h2>
Commons non accetta due foto con lo stesso nome. Questo errore significa che qualcuno prima di te ha già caricato una foto con il nome che desideravi usare. Puoi ripetere l'operazione di caricamento assegnando un nome diverso: il consiglio è quello di mantenere il nome generato automaticamente che ha scarse possibilità di conflitto,

</div>

<div class="container block-margin">
<h2 class="title is-4">Ho provato a caricare la foto con il nome creato in automatico ma mi ha dato un errore per nome duplicato. Come mai?
</h2>
Per un'eventualità rarissima qualcuno contemporaneamente a te stava caricando una foto del medesimo monumento. È rarissimo che accade ma non impossibile. Ripeti il caricamento, se dovesse riaccadere sappi che un tale evento è probabile quanto vincere la lotteria (che magari è più appagante) o essere colpiti da un meteorite (che sicuramente è più doloroso).

</div>

<div class="container block-margin">
<h2 class="title is-4">Ho caricato la foto di un monumento con segnapunto rosso ma non è diventato blu. Come mai?
</h2>
La base dati per la generazione della mappa viene aggiornata ogni ora circa. Se hai caricato recentemente la foto in Wikimedia Commons il cambio di colore avverrà con il successivo aggiornamento della base dati della mappa.
</div>

<div class="container block-margin">
<h2 class="title is-4">Quando vado a vedere le foto che ho caricato non vedo quelle più vecchie. Come mai?
</h2>
È possibile vedere dalla app solo le foto caricate successivamente all'ultimo login con l'utenza in uso; comunque non ti preoccupare le tue foto caricate precedentemente sono Commons e rimangono valide per il concorso. Se vuoi puoi consultare l'elenco completo dei tuoi caricamenti in Commons con il bottone "Tutte le tue foto su Commons".
</div>

<div class="container block-margin">
<h2 class="title is-4">Devo caricare tutte le mie foto dallo stesso dispositivo o solo attraverso la app?</h2>
No, puoi caricare le foto da più dispostivi e puoi usare la stessa utenza per tutti i dispositivi: dovrai però ripetere l'operazione di login interna alla app su ciascun dispositivo. Inoltre puoi caricare le foto da PC utilizzando il <%= link_to "sito del concorso", "https://www.wikimedia.it/wiki-loves-monuments/elenco-monumenti/"%>.
</div>
